<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- log4net용 -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <log4net>
    <!-- 파일시스템용-->
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="D:\Session.Log" />
      <appendToFile value="true" />
      <datePattern value="-yyyy-MM-dd" />
      <rollingStyle value="Date" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <threshold value="DEBUG" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c - %message%newline" />
      </layout>
    </appender>
    <!-- SMTP용-->
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender,log4net">
      <to value="받는사람@email.com" />
      <from value="보내는사람@email.com" />
      <subject value="LOG4NET Email TESTING" />
      <smtphost value="smtphost.host.com" />
      <port value="25"/>
      <!--username value="myUsername"/>
      <password value="myPassword"/-->
      <bufferSize value="1"/>
      <lossy value="true"/>
      <evaluator type="log4net.Core.LevelEvaluator,log4net">
        <threshold value="ERROR"/>
      </evaluator>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionpattern value="%property{log4net:HostName} :: %level :: %message %newlineLogger: %logger%newlineThread: %thread%newlineDate: %date%newlineNDC: %property{NDC}%newline%newline" />
      </layout>
    </appender>

    <!-- MS SQL용-->
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="100" />
      <evaluator type="log4net.Core.LevelEvaluator,log4net">
        <threshold value="INFO"/>
      </evaluator>

      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <!--connectionString value="data source=[database server];initial catalog=[database name];integrated security=false;persist security info=True;User ID=[user];Password=[password]" /-->
      <connectionString value="Server=10.103.19.34,20049;database=LogTest;uid=sa;pwd=websq12#" />
      <commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
    <root>
      <appender-ref ref="RollingFile"/>
    </root>
  </log4net>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Server.Properties.Settings>
            <setting name="MasterIp" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="MasterPort" serializeAs="String">
                <value>35000</value>
            </setting>
            <setting name="ListenIp" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
        </Server.Properties.Settings>
    </userSettings>
</configuration>